appdirs==1.4.4
autopep8 @ file:///tmp/build/80754af9/autopep8_1596578164842/work
certifi==2020.12.5
click==7.1.2
distlib==0.3.1
dnspython==2.1.0
email-validator==1.1.2
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.10
flask-mongoengine==1.0.0
Flask-WTF==0.14.3
idna==3.1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
marshmallow==3.10.0
pipenv==2020.11.15
pycodestyle==2.6.0
pymongo==3.11.2
python-dateutil==2.8.1
python-dotenv==0.15.0
rope==0.18.0
six==1.15.0
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
virtualenv==20.4.2
virtualenv-clone==0.5.4
Werkzeug==1.0.1
wincertstore==0.2
WTForms==2.3.3
